.layout-navigation-detail {
	position: relative;
	height: 100%;
	width: 100%;

	.navigation {
		height: 100%;
		max-height: calc(100% - 64px);
		position: fixed;
		width: 300px;
		overflow-y: auto;
	}

	.detail {
		position: absolute;
		top: 0;
		left: 300px;
		right: 0;
		bottom: 0;
	}
}
