.form-header-sticky {
    position: sticky;
    top:140px;
    z-index: 20;
      backdrop-filter: blur(4px);  
    -webkit-backdrop-filter: blur(4px);
}

.form-body-sticky-adjust {
    padding-top:80px;
}

.toolbar-fixed {
    position: sticky;
    height:64px;    
    left:0;
    right:0;
    top:64px;
    z-index: 20;
    backdrop-filter: blur(4px);  
    -webkit-backdrop-filter: blur(4px);
}