.dialog-width-quarter-width {
     width:25% !important;
}

.dialog-width-half-width{
     width:50% !important;
}

.dialog-width-full-width {
     width:100% !important;
}

.dialog-width-extra-narrow {
     width:320px !important;
}

.dialog-width-narrow {
     width:600px !important;
}

.dialog-width-medium {
     width:700px !important;
}

.dialog-width-large {
     width:800px !important;
}

.dialog-width-extra-large {
     width:900px !important;
}

.dialog-width-default {
    width:400px !important;
}
