.form-style {

    .form-body {
        margin-top:8px;
        margin-left:8px;
        margin-right:8px;
    }

    dl {

        padding-left:20px;
        padding-top:8px;

        dt{
            font-size: 14px;
            color:rgba(0,0,0,0.54);            
        }

        dd{
            font-size:20px;
            
        }


    }
    
}